



//<ШРИФТЫ>========================================================================================================================

//<Подключаем шрифты>=============================================================================================================

//<Подключаем шрифты>=============================================================================================================

//<Шрифт по умолчанию>=============================================================================================================
$fontfamily: "Montserrat";
//<Шрифт по умолчанию>=============================================================================================================

//<ШРИФТЫ>========================================================================================================================

//<ПЕРЕМЕННЫЕ>========================================================================================================================

//<ПЕРЕМЕННЫЕ>========================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================================================================
@import "nullstyle.scss";
@import "style.scss";

.newspaper {
	padding: 15px;

	&__main-title {
		display: flex;
		justify-content: space-between;
		font-size: 20px;
		font-family: "Teddy Bear";
		letter-spacing: 10px;
		@media (max-width: 767px) {
			letter-spacing: 5px;
		}
	}

	&__number {


	}

	&__date {

	}



	&__row {
		margin-top: 20px;
		display: flex;
		@media (max-width: 992px) {
			display: block;
		}
	}
	&__article-box1 {
		flex: 1 1 75%;
	}
	&__article-box2 {
		text-align: justify;
		margin-left: 20px;
		flex: 1 1 25%;
		p::first-letter{
			font-family: "Teddy Bear";
		}
		@media (max-width: 767px) {
			margin-top: 30px;
			margin-left: 0px;
		}
	}

	&__title {
		text-align: center;
		font-size: 18px;
		font-style: italic;
		font-weight: 600;
	}

	&__article {
		p{
			text-indent: 20px;
			padding-bottom: 10px;
		}
		padding-top: 15px;
		line-height: 20px;
	}

	&__interviewee {
		padding-top: 15px;
		font-style: italic;
		font-weight: 600;
	}

	&__author {
		margin-top: 20px;
		text-align: right;
	}
}
.question {
	text-align: center;
	padding-top: 15px;
	font-weight: 600;
	font-size: 17px;
}
.answer {
}
.author-1{
	padding-top: 30px;
}

