



//<ШРИФТЫ>========================================================================================================================

//<Подключаем шрифты>=============================================================================================================

//<Подключаем шрифты>=============================================================================================================

//<Шрифт по умолчанию>=============================================================================================================
$fontfamily: "Montserrat";
//<Шрифт по умолчанию>=============================================================================================================

//<ШРИФТЫ>========================================================================================================================

//<ПЕРЕМЕННЫЕ>========================================================================================================================

//<ПЕРЕМЕННЫЕ>========================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================================================================
@import "nullstyle.scss";
@import "style.scss";

.newspaper {
	padding: 15px;

	&__main-title {
		display: flex;
		justify-content: space-between;
		font-size: 20px;
		font-family: "Teddy Bear";
		letter-spacing: 10px;
		@media (max-width: 767px) {
			letter-spacing: 5px;
		}
	}

	&__number {



	}

	&__date {

	}
	&__line-1{
		margin-top: 5px;
		width: 100%;
		height: 5px;
		background-color: #6FC0B9;
	}
	&__line-1-1{
		margin-top: 2px;
		width: 100%;
		height: 2px;
		background-color: #6FC0B9;
	}

	&__second-title {
		margin-top: 10px;
		text-align: center;
		font-size: 20px;
		font-family: "Teddy Bear";
		letter-spacing: 10px;
	}
	&__line-2{
		margin-top: 15px;
		width: 100%;
		height: 2px;
		background-color: #6FC0B9;
	}
	&__line-2-1{
		margin-top: 2px;
		width: 100%;
		height: 5px;
		background-color: #6FC0B9;
	}
	&__third-title {
		margin-top: 5px;
		text-align: center;
	}
	&__line-3{
		margin-top: 5px;
		width: 100%;
		height: 2px;
		background-color: #6FC0B9;
	}
	&__line-4{
		margin-top: 1px;
		width: 100%;
		height: 2px;
		background-color: #6FC0B9;
	}




	&__row {
		margin-top: 20px;
		display: flex;
		@media (max-width: 992px) {
			display: block;
		}
	}
	&__article-box1 {
		flex: 1 1 75%;
		text-align: justify;

	}
	&__article-box2 {
		text-align: justify;
		margin-left: 20px;
		flex: 1 1 25%;
		p::first-letter{
			font-family: "Teddy Bear";
		}
		@media (max-width: 767px) {
			margin-top: 30px;
			margin-left: 0px;
		}
	}

	&__title {
		text-align: center;
		font-size: 18px;
		font-style: italic;
		font-weight: 600;
	}

	&__article {
		p{
			text-indent: 20px;
			padding-bottom: 10px;
		}
		p::first-letter{
			font-family: "Teddy Bear";
		}
		padding-top: 15px;
		line-height: 20px;
	}

	&__interviewee {
		padding-top: 15px;
		font-style: italic;
		font-weight: 600;
	}

	&__author {
		margin-top: 20px;
		text-align: right;
	}

}
.question {
	text-align: center;
	padding-top: 15px;
	font-weight: 600;
	font-size: 17px;
}
.answer {
}
.author-1{
	padding-top: 30px;
}
.article-2{
	padding-top: 30px;
}

p.ps::first-letter{
	font-family: "Montserrat";
}

.foto{
	overflow: hidden;
	margin-top: 5px;
	text-align: right;
}