



//<ШРИФТЫ>========================================================================================================================

//<Подключаем шрифты>=============================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
	font-family: 'Teddy Bear';
	src: url('../fonts/teddy_bear.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/teddy_bear.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/teddy_bear.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/teddy_bear.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/teddy_bear.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/teddy_bear.svg#teddy_bear') format('svg'); /* Chrome < 4, Legacy iOS */
}
//<Подключаем шрифты>=============================================================================================================

//<Шрифт по умолчанию>=============================================================================================================
$fontfamily: "Montserrat";
//<Шрифт по умолчанию>=============================================================================================================

//<ШРИФТЫ>========================================================================================================================

//<ПЕРЕМЕННЫЕ>========================================================================================================================

//<ПЕРЕМЕННЫЕ>========================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================================================================
@import "nullstyle.scss";




//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================================================================

//<ОБОЛОЧКА>========================================================================================================================
.wrapper{
	background: url(../img/bg-main.jpg)  100%/cover no-repeat;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

//</ОБОЛОЧКА>========================================================================================================================

//<ОСНОВНАЯ СЕТКА>========================================================================================================================
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

@media (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: none;
		padding: 0 15px;
	}
}

//</ОБОЛОЧКА>========================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>========================================================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>========================================================================================================================

//<ОСНОВНОЙ БЛОК>=========================================================================================================================
.page {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
}
//Стили header---------------------------------
header{
	// background: linear-gradient(90deg,#3F79D2,#A5D3FD,#6492DD);
	flex: 0 0 auto;
}
.header {
	height: 100px;
	// display: flex;
	// justify-content: space-between;
	// align-items: center;
}
.header__name {
	// font-family: 'Pacifico', cursive;
	font-family: 'Teddy Bear';
	font-size: 48px;
	text-align: center;
	margin-top: 30px;
	@media (max-width: 767px) {
		font-size: 30px;
	}
}
.header__nav {
	font-family: 'Pacifico', cursive;
	font-size: 25px;
}
// .header__link {
// }

//Стили main---------------------------------

main{
	flex: 1 1 auto;
	// background: linear-gradient(90deg,#3F79D2,#A5D3FD,#6492DD);
}

.main-box {
	display: flex;
	min-height: 700px;
}
.menu {
	background-color: #6de60b;
	flex: 0 0 20%;
	padding-top: 10px;
	font-family: 'Teddy Bear';
	font-size: 30px;
	border-radius: 20px;
	margin-bottom: 10px;
	@media (max-width: 767px) {
		font-size: 20px;
	}
}
.menu__item {
	text-align: center;
	margin-top: 50px;
}
.menu__link {
}
.newspaper {
	flex: 0 1 80%;
	background-color: #fcffd0;
	border-radius: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
}

footer{
	flex: 0 0 auto;
	height: 100px;
}