



//<ШРИФТЫ>========================================================================================================================

//<Подключаем шрифты>=============================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
	font-family: 'Teddy Bear';
	src: url('../fonts/teddy_bear.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/teddy_bear.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/teddy_bear.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/teddy_bear.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/teddy_bear.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/teddy_bear.svg#teddy_bear') format('svg'); /* Chrome < 4, Legacy iOS */
}
//<Подключаем шрифты>=============================================================================================================

//<Шрифт по умолчанию>=============================================================================================================
$fontfamily: "Montserrat";
//<Шрифт по умолчанию>=============================================================================================================

//<ШРИФТЫ>========================================================================================================================

//<ПЕРЕМЕННЫЕ>========================================================================================================================

//<ПЕРЕМЕННЫЕ>========================================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================================================================
@import "nullstyle.scss";




//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>========================================================================================================================

//<ОБОЛОЧКА>========================================================================================================================
.wrapper{
	background: url(../img/bg-main.jpg)  100%/cover no-repeat;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	max-height: 100%;
}

//</ОБОЛОЧКА>========================================================================================================================

//<ОСНОВНАЯ СЕТКА>========================================================================================================================
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

@media (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}

@media (max-width: 767px) {
	.container {
		max-width: none;
		padding: 0 15px;
	}
}

//</ОБОЛОЧКА>========================================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>========================================================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>========================================================================================================================

//<ОСНОВНОЙ БЛОК>=========================================================================================================================
.page {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
}
//Стили header---------------------------------
header{
	flex: 0 0 auto;
}
.header {
	height: 100px;
}
@media (max-width: 767px) {
	.header__burger{
		position: absolute;
		top: 50px;
		z-index: 2;
		min-height: 50px;
		min-width: 50px;
	}
	.header__burger::before{
		content: '';
		height: 2px;
		width: 20px;
		background-color: #000000;
		position: absolute;
		top: 10px;
		left: 10px;
		transition: 0.5s;
	}
	.header__burger span{
		content: '';
		height: 2px;
		width: 20px;
		background-color: #000000;
		position: absolute;
		top: 15px;
		left: 10px;
		transition: 0.5s;
	}
	.header__burger::after{
		content: '';
		height: 2px;
		width: 20px;
		background-color: #000000;
		position: absolute;
		top: 20px;
		left: 10px;
		transition: 0.5s;
	}
	.header__burger.active::before{
		top: 15px;
		transform: rotate(45deg);
		transition: 0.5s;
	}
	.header__burger.active span{
		display: none;
		transition: 0.5s;
	}
	.header__burger.active::after{
		top: 15px;
		transform: rotate(-45deg);
		transition: 0.5s;
	}
}
.header__name {
	font-family: 'Teddy Bear';
	font-size: 48px;
	text-align: center;
	margin-top: 30px;
	@media (max-width: 767px) {
		position: relative;
		z-index: 2;
		font-size: 30px;
	}
}
.header__nav {
	font-family: 'Pacifico', cursive;
	font-size: 25px;
}

//Стили main---------------------------------

main{
	flex: 1 1 auto;
}

.main-box {
	display: flex;
	min-height: 70vh;
	@media (max-width: 767px) {
		display: block;
	}
}
.menu {
	background-color: #6FC0B9;
	flex: 0 0 20%;
	padding-top: 10px;
	font-family: 'Teddy Bear';
	font-size: 30px;
	border-radius: 20px;
	margin-bottom: 10px;
	overflow: hidden;
	overflow-y: auto;
	@media (max-width: 767px) {
		position: absolute;
		top: 80px;
		left: -100%;
		width: 100%;
		height: 100%;
		font-size: 20px;
		border-radius: 0;
		transition-duration: 0.5s;
	}
}
.menu::-webkit-scrollbar { width: 0; }
.menu__item {
	text-align: center;
	margin-top: 50px;
	@media (max-width: 767px) {
		margin: 15px;
	}
}
.menu__link {
}
.menu.active{
	top: 80px;
	left: 0px;
	transition-duration: 0.5s;
}
.newspaper {
	flex: 0 1 80%;
	background-color: #FFE7C5;
	border-radius: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
	@media (max-width: 767px) {
		display: block;
		min-width: 100%;
		min-height: 50vh;
		margin-left: 0px;
	}
}

footer{
	flex: 0 0 auto;
	height: 100px;
}